*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-weight: 400;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #fff;
}

/* .none{
    display: none !important;
} */

.page {
    min-width: 100%;
    min-height: calc(100vh - 140px);
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

