

.app{
    width: 100%;
    min-height: 100vh;
}

.header, .footer{
    display: flex;
    justify-content: space-between;
    background-color: #121C1E;
    padding: 0 10px 0 10px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 70px;
    margin: 0 auto;
}

.logo{
    width: 48px;
    height: 60px;
    background-image: url('../../assets/svg/tree.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectCount{
    width: 48px;
    height: 60px;
    background-image: url('../../assets/svg/ball-2.svg');
    background-size: 48px 60px;
    background-position: left -8px;
    background-repeat: no-repeat;
    transition: .3s;
}

.selectCount span {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #278D9F;
}

.item_menu{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    transition: .3s;
    cursor: pointer;
}

.start_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 80px;
    align-items: center;
}

.start_page_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 250px;
    /* margin-bottom: 80px;
    margin-top: 220px; */
    color: #fff;
    font-weight: 400;
    text-align: center;
    border: 3px solid #278D9F;
    border-radius: 25px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    font-size: 48px;
}

.start_page_title span{
    width: 100%;
}

.start_btn{
    width: 320px;
    height: 60px;
    border: 3px solid #278D9F;
    border-radius: 30px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.start_btn:hover{
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.footer_container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 70px;
    margin: 0 auto;
    color: #fff;
}
.github{
    text-decoration: none;
    font-size: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.github:hover{
    color: #278D9F;
}

.rss {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 86px;
    height: 32px;
    background-image: url('../../assets/svg/rss.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 111px;
    filter: hue-rotate(177deg) saturate(100%);
}
.rss_year {
    font-size: 24px;
    letter-spacing: -2px;
    
    line-height: 0.9;
    font-weight: bold;
    transition: 0.3s;
}

.rss:hover{
    filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.ovr_container{
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 103, 116, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 0.5s ease;
}

.show{
    left: 0;
    cursor: pointer;
}

