
.filter_toys{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 10px;
}

.filter_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.filter_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
    height: 320px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
}

.filter_item_val{
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.range_item{
    flex-direction: column;
    row-gap: 10px;
}

.btn_color,.btn_favor{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 15px 10px;
    border: 1px solid #278D9F;
    border-radius: 5px;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.btn_color:hover{
    border-color: #ccc;
}

.btn_color.active::after, .btn_favor.active::after{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #666;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.clWhite{
    background-color: #fff;
}

.clYellow{
    background-color: #FDD700;
}

.clRed{
    background-color: #FD0000;
}

.clBlue{
    background-color: #2199EB;
}

.clGreen{
    background-color: #08AA05;
}

.btn_shape{
    width: 40px;
    height: 40px;
    margin: 10px 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
}

.btn_shape:hover{
    filter: invert(20%);
}

.btn_shape.active{
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.clBall{
    background-image: url('../../assets/svg/ball.svg');
}

.clBell{
    background-image: url('../../assets/svg/bell.svg');
}

.clCone{
    background-image: url('../../assets/svg/cone.svg');
}

.clSnow{
    background-image: url('../../assets/svg/snowflake.svg');
}

.clToy{
    background-image: url('../../assets/svg/toy.svg');
}

.btn_size{
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    border: 0;
    outline: 0;
    background-image: url('../../assets/svg/ball.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    stroke: black;
    transition: .3s;
}

.btn_size:hover{
    filter: invert(20%);
}

.middle{
    background-size: 40px 40px;
}

.small{
    background-size: 32px 32px;
}

.btn_size.active{
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.box_toys{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn_favor{
    background-color: #278D9F;
}

.sort_select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    
    background-color: rgba(31, 112, 127, .3);
    background-image: url('../../assets/svg/arrow-down.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 340px center;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}

.sort_select option {
    color: inherit;
    background-color: #183E42;
}

.search_container{
    display: flex;
    align-items: center;
    width: 380px;

}

.search {
    width: 300px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    /* margin-right: 30px; */
    border-radius: 20px;
    border: 1px solid #278D9F;
    color: #fff;
    font-size: 18px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url('../../assets/svg/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    backdrop-filter: blur(6px);
    outline: none;
}

.rst_search{
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('../../assets/svg/cross.svg');
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
    margin: 10px 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.rst_search.show{
    opacity: 1;
}

.reset {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #278D9F;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.reset:hover{
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}